.wrapper{
    height:100%;
}
.part{
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    position: relative;
}
.part1{
    background-image: url(../images/f1.jpg);
}
.fl-text{
    width: 76%;
    position: absolute;
    top: 16%;
    left: 12%;
}
.part2{
    background-image: url(../images/f2.jpg);
    position: absolute;
    top:0;
}
.f2-info{
    width: 80%;
    position: absolute;
    top: 18%;
    left: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f2-btn{
    width: 42%;
}
.f2-text{
    width: 70%;
    margin-bottom: 10%;
}
.f2-input{
    background: #fbe8ba;
    border: none;
    height: 2.4rem;
    line-height: 2.4rem;
    padding: 0 1rem;
    width: 74%;
    margin-bottom: 5%;
}

.f2-info2 .f2-text{
    width: 50%;
    margin-bottom: 5%;
}
.f2-info2{
    display: none;
}
.smallFlower{
    position: absolute;
    right: 1%;
    top: 25%;
    width: 12%;
}
.bigFlower{
    position: absolute;
    left: 2%;
    bottom: 36%;
    width: 16%;
}
.part3{
    position: absolute;
    top:0;
    display: none;
    background-image: url(../images/qs-bg.jpg);
}
.qs-info{
    position: absolute;
    top: 16.5%;
    text-align: center;
    display: none;
    height: 66%;
}
.qs-info:first-child{
    display: block;
    
}
.qs-tit{
    height: 1.6rem;
}
.qs-tit1 {
    height: auto;
    width: 72%;
}
.answer-con{
    width: 55%;
    margin: 18% auto 0;
    height: 80%;
}
.answer{
    max-width: 100%;
    margin-bottom: 12%;
    height: 28%;
}
.part4{
    position: absolute;
    top:0;
    display: none;
    background-image: url(../images/result-bg.jpg);
}
.result-con{
    width: 80%;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 27%;
    text-align: center;
}
.result-con .resultTit{
    width:58%
}
.progress-con{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin:15% 0 6%;
}
.progress-con .item{
    width: 33%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.progress-con .progress-num{
    margin-bottom: 1rem;
}
.progress-con .progress-num img{
    height: 1.2rem;   
}
.progress-con .progress-in{
    /* background-image: url(../images/progress-bg.png);
    height: 100%;
    width: 22%;
    background-size: 100% 100%; */
    position: relative;
    height: 120px;
}
.progress-con .progress-intro{
    margin-top: 12%;
}
.progress-intro img{
    width: 70%;
}
.progress-con .progress-bar{
    position: absolute;
    bottom: 0;
    left: calc(50% - .7rem);
    right: 0;
    width: 1.4rem; 
    height: 0%;
}
.barHeight0{ 
    transition: height 1s ease 1s;
}
.barHeight1{ 
    transition: height 1s ease 1.2s;
}
.barHeight2{ 
    transition: height 1s ease 1.5s;
}
.progress-con .progress-bg{
    position: absolute;
    bottom: 0;
    left: calc(50% - .7rem);
    right: 0;
    width: 1.4rem;
    height: 100%;
}
.result-intro{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.result-intro img{
    max-height: 7rem;
    max-width: 100%;
}
.canvasImg{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}








.slideInUp2 {
	-webkit-animation-name: slideInUp2 2s linear 0s infinite alternate;
	animation: slideInUp2 2s linear 0s infinite alternate;
}

@-webkit-keyframes slideInUp2 {
	0%{
        transform: scale(.8);
        opacity: .5;
    }
    50%{
        transform: scale(1.2);
        opacity: 1;
    }
    10%{
        transform: scale(.8);
        opacity: .5;
    }
}
.slideInUp3 {
	-webkit-animation-name: slideInUp3 2s linear 0s infinite alternate;
	animation: slideInUp3 2s linear 0s infinite alternate;
}

@-webkit-keyframes slideInUp3 {
	0%{-webkit-transform:rotate(0deg);opacity: .5;}
      25%{-webkit-transform:rotate(90deg);opacity: 1;}
      50%{-webkit-transform:rotate(180deg);opacity: 1;}
      75%{-webkit-transform:rotate(270deg);opacity: .5;}
      100%{-webkit-transform:rotate(360deg);opacity: 1;}
}



@media screen and (max-height:640px) {
    .progress-con .progress-in {
        position: relative;
        height: 90px;
    }
    .progress-con .progress-bg {
        left: calc(50% - .5rem);
        width: 1rem;
    }
    .progress-con .progress-bar {
        left: calc(50% - .5rem);
        width: 1rem;
    }
    .result-con{
        top: 25%;
    }
}




@media (min-height:737px) and (max-height:812px) {
	.result-intro {
        height: 14rem;
    }
    .answer-con{
        margin-top: 20%;
    }
}