<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangshengtang.mapper.IndexMapper" >

        <!--插入数据-->
    <insert id="addInfo" keyColumn="id" keyProperty="id" parameterType="com.yangshengtang.bean.Users">
    insert into users (name, result, time)
    values (#{name,jdbcType=VARCHAR},#{result,jdbcType=VARCHAR},#{time,jdbcType=TIMESTAMP})
    </insert>


    <select id="selectList" resultType="com.yangshengtang.bean.Users">
     select * from users
  </select>

</mapper>